#careCon {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

#care {
	font-size: 50pt;
	color: green;
	font-family: fantasy;
}

#menu {
	text-align: right;
	
}

#menu > a {
	font-size: 20pt;
	text-decoration: none;
	color: gray;
}

#userCon {
	text-align: center;
}

#userCon > b {
	font-size: 20pt;
	color : olive;
}