<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.board.BoardMapper">
	
	<resultMap type="com.care.root.board.dto.BoardDTO" id="board">
		<id property="number" column="write_no"></id>
		<result property="title" column="title"/>		
		<result property="id" column="id"/>		
		<result property="content" column="content"/>		
		<result property="imageFileName" column="image_file_name"/>		
		<result property="hit" column="hit"/>		
		<result property="boarddate" column="savedate"/>		
	</resultMap>
	
	
	
	<insert id="writeSave">
		INSERT INTO mvc_board(write_no,id,title,content,image_file_name) VALUES(mvc_board_seq.nextval,#{id},#{title},#{content},#{imageFileName})
	</insert>
	
	<select id="getList" resultMap="board">
		SELECT * FROM mvc_board ORDER BY write_no ASC
	</select>
	
	<select id="contentView" resultMap="board">
		SELECT * FROM mvc_board WHERE write_no=#{number} 
	</select>
	
	
</mapper>